@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    
</hgroup>

<article>
  <p>
    A Tactical Whiteboard,  you can share with others instantly and they will be able to watch you draw.
  </p>

  <p>
    Thanks and recognition go to Alvin Geroge for his CodeProject article which acted as an excellent starting point for this project.
  </p>
  <p>
    https://www.codeproject.com/Tips/417502/Online-Whiteboard-using-HTML-and-SignalR
  </p>
</article>

